@{
    ViewBag.Title = "UploadFile";
    Layout = null;
}



@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div align="center">

        <h2>Please Upload Your File</h2>

        <br />

       
        <br /><br /><br />
        <input type="file" name="File" id="File" />
        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>


}
