
@{
    Layout = null;
}

@{
    ViewBag.Title = "UploadFile";
}

<head>
    <title>File Upload</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<h1 style="color:white;  font-weight:bold" align="center"> Upload Your Code File(s) </h1>

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div background-color="white">
        <div align="center">
            <br /><br /><br />

            <button type="button" class="btn btn-danger">@Html.TextBox("files", "", new { type = "file", multiple = "multiple", accept = ".java,.cpp,.zip" }) </button>
            <h6 style="color:white;font-weight:bold;background-color:red;margin-left:300px;margin-right:300px;">When you're uploading multiple files, Please select files with pressing the ctrl button.</h6>
            <br /><br /><br />


            <div align="center">
                <button type="submit" class="btn btn-danger btn-group-xs"> Upload  </button>
                @ViewBag.Message

            </div>
        </div>
    </div>

}
