@model ITPM_Code_Complexity_Tool.Models.sizeVariableMethodsWeightTracker

@{
    ViewBag.Title = "SetWeight";

    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }
}
<head>
    <title>SetWeight</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />

</head>
<h1 style="color: white; font-weight: bold">Weights related to the Variable factor</h1>

@using (Html.BeginForm("SetWeightVariables", "ComplexitySizeVariablesMethods", new { fileName = fromURL }, FormMethod.Post))
{


    // ==========================================================================================

    <table style="color: white" class="table table-bordered table-dark">
        <thead>
            <tr id="ROW1">

                <th scope="col">Program Component</th>
                <th scope="col-1">Weight</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Global variable</td>
                <td>
                    @Html.TextBoxFor(m => m.variableGlobal, new { @Value = "2", size = "2", style = "text-align:center", })
                </td>
            </tr>
            <tr>
                <td>Local variable </td>
                <td>
                    @Html.TextBoxFor(m => m.variableLocal, new { @Value = "1", size = "2", style = "text-align:center" })
                </td>

            </tr>

            <tr>
                <td>Primitive data type variable </td>
                <td>
                    @Html.TextBoxFor(m => m.variablePrimitiveDataType, new { @Value = "1", size = "2", style = "text-align:center" })
                </td>

            </tr>

            <tr>
                <td>Composite data type variable </td>
                <td>
                    @Html.TextBoxFor(m => m.variableCompotiteDataType, new { @Value = "2", size = "2", style = "text-align:center" })
                </td>

            </tr>


        </tbody>


    </table>

    <button type="submit" class="btn btn-danger">Save And Calculate</button>


}
